*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/
.DS_Store
/build
/captures
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
.externalNativeBuild
/gradle/wrapper/gradle-wrapper.properties
